*,*:after,*:before{
    box-sizing: border-box;
}

@font-face {
    font-family: "Scorchedearth";
    src: url("../fonts/Scorchedearth.woff") format("woff"),
    url("../fonts/Scorchedearth.otf") format("opentype")
    }
    @font-face {
        font-family: "Populationzerobb";
        src: url("../fonts/Populationzerobb.woff") format("woff"),
        url("../fonts/Populationzerobb.otf") format("opentype")
        }
body{
    margin: 0;
    font-size: 20px;
    color: #fff;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Populationzerobb;
    background: url(../img/lore_bg.png) no-repeat fixed top left;
    background-size: cover;

}
.text{
    font-family: Populationzerobb ;
    font-size: 2rem ;

}
a{
    text-decoration: none;
    color: #fff;
}

.header{
    background: rgba(0,0,0,0.7);
    min-height: 100vh;
    min-width: 100vw;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    min-height: 80px;

}
.name p{
    font-family: Scorchedearth;
    margin: 0;
    padding: 0;
}
h1,h2{
    font-family: Scorchedearth;
    font-size: 5rem;
    letter-spacing: 10px;
}

/* NAV */
.nav{
    display: flex;
    padding-right: 0.6rem;
}

.link{
    text-decoration: none;
    color: #fff;
    transition: 750ms;
    margin-left: 50px;
}
.nav:first-child{
    margin-left: 0;
}
.link:hover{
    color: rgb(200, 6, 6);
    text-shadow: 1px 1px 5px rgb(200, 6, 6);
}




